<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="../../../../public/css/detail/style-detail.css">
    <title>ND PHONE</title>
</head>

<body>
    <div class="container">
        <div class="detail-container">
            <div class="row">
                <div class="product-detail-left product-images col-12 col-md-12 col-lg-7 ">
                    <div class="product-image-detail relative">
                        <div class="product-image-btn">
                            <!-- class="action btn-compare js-btn-wishlist setWishlist btn-views"
                            data-wish="giay-adidas-ultraboost-dna-sea-city-pack-thailand" tabindex="0" -->
                            <!-- <a href="javascript:void(0)" -->
                            <a href="#" title="Thêm vào yêu thích" class="btn-views">
                                <svg width="16" height="15" viewBox="0 0 16 15" fill="none">
                                    <path
                                        d="M1.30469 7.70401C0.413933 5.13899 1.5274 1.87444 3.97697 1.17489C5.3131 0.708524 7.09458 1.17487 7.98533 2.57397C8.87608 1.17487 10.6576 0.708524 11.9937 1.17489C14.6659 2.10763 15.5567 5.13899 14.666 7.70401C13.5525 11.6681 9.09877 14 7.98533 14C6.87189 13.7668 2.64081 11.9013 1.30469 7.70401Z"
                                        stroke="#949494" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round">
                                    </path>
                                </svg>
                            </a>

                        </div>

                        <div class="swiper-container" id="lightgallery">
                            <div class="swiper-wrapper">
                                <div class="row">
                                    <div class="col-12 col-sm-12 col-md-6 col-img">
                                        <a class="swiper-slide 0" data-hash="0"
                                            href="https://cdn.tgdd.vn/Products/Images/42/230529/iphone-13-pro-max-1-2.jpg"
                                            title="Bấm vào để xem thư viện ảnh Giày Adidas Ultraboost DNA SEA CITY PACK THAILAND">
                                            <img width="100%" height="100%"
                                                src="https://cdn.tgdd.vn/Products/Images/42/230529/iphone-13-pro-max-1-2.jpg"
                                                alt="Giày Adidas Ultraboost DNA SEA CITY PACK THAILAND"
                                                data-image="https://cdn.tgdd.vn/Products/Images/42/230529/iphone-13-pro-max-1-2.jpg"
                                                class="mx-auto d-block">
                                            <!-- class="img-responsive mx-auto d-block lazy loading" data-was-processed="true" -->
                                        </a>
                                    </div>

                                    <div class="col-12 col-sm-12 col-md-6 col-img">
                                        <a class="swiper-slide 1" data-hash="1"
                                            href="https://bizweb.dktcdn.net/100/437/253/products/sp-trang-6-2.jpg?v=1640074118553"
                                            title="Bấm vào để xem thư viện ảnh Giày Adidas Ultraboost DNA SEA CITY PACK THAILAND">
                                            <img width="100%" height="100%"
                                                src="//bizweb.dktcdn.net/thumb/large/100/437/253/products/sp-trang-6-2.jpg?v=1640074118553"
                                                alt="Giày Adidas Ultraboost DNA SEA CITY PACK THAILAND"
                                                data-image="https://bizweb.dktcdn.net/100/437/253/products/sp-trang-6-2.jpg?v=1640074118553"
                                                class="mx-auto d-block">
                                            <!-- class="img-responsive mx-auto d-block lazy loading" data-was-processed="true" -->
                                        </a>
                                    </div>

                                    <div class="col-12 col-sm-12 col-md-6 col-img">
                                        <a class="swiper-slide 2" data-hash="2"
                                            href="https://bizweb.dktcdn.net/100/437/253/products/sp-trang-6-3.jpg?v=1640074119073"
                                            title="Bấm vào để xem thư viện ảnh Giày Adidas Ultraboost DNA SEA CITY PACK THAILAND">
                                            <img width="100%" height="100%"
                                                src="//bizweb.dktcdn.net/thumb/large/100/437/253/products/sp-trang-6-3.jpg?v=1640074119073"
                                                alt="Giày Adidas Ultraboost DNA SEA CITY PACK THAILAND"
                                                data-image="https://bizweb.dktcdn.net/100/437/253/products/sp-trang-6-3.jpg?v=1640074119073"
                                                class="mx-auto d-block">
                                            <!-- class="img-responsive mx-auto d-block lazy loading" data-was-processed="true" -->
                                        </a>
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-6 col-img">
                                        <a class="swiper-slide 3" data-hash="3"
                                            href="https://bizweb.dktcdn.net/100/437/253/products/sp-trang-6-4.jpg?v=1640074119397"
                                            title="Bấm vào để xem thư viện ảnh Giày Adidas Ultraboost DNA SEA CITY PACK THAILAND">
                                            <img width="100%" height="100%"
                                                src="//bizweb.dktcdn.net/thumb/large/100/437/253/products/sp-trang-6-4.jpg?v=1640074119397"
                                                alt="Giày Adidas Ultraboost DNA SEA CITY PACK THAILAND"
                                                data-image="https://bizweb.dktcdn.net/100/437/253/products/sp-trang-6-4.jpg?v=1640074119397"
                                                class="mx-auto d-block">
                                            <!-- class="img-responsive mx-auto d-block lazy loading" data-was-processed="true" -->
                                        </a>
                                    </div>

                                    <div class="col-12 col-sm-12 col-md-6 col-img">
                                        <a class="swiper-slide 4" data-hash="4"
                                            href="https://bizweb.dktcdn.net/100/437/253/products/sp-trang-6-5.jpg?v=1640074119783"
                                            title="Bấm vào để xem thư viện ảnh Giày Adidas Ultraboost DNA SEA CITY PACK THAILAND">
                                            <img width="100%" height="100%"
                                                src="//bizweb.dktcdn.net/thumb/large/100/437/253/products/sp-trang-6-5.jpg?v=1640074119783"
                                                alt="Giày Adidas Ultraboost DNA SEA CITY PACK THAILAND"
                                                data-image="https://bizweb.dktcdn.net/100/437/253/products/sp-trang-6-5.jpg?v=1640074119783"
                                                class="mx-auto d-block">
                                            <!-- class="img-responsive mx-auto d-block lazy loading" data-was-processed="true" -->
                                        </a>
                                    </div>

                                    <div class="col-12 col-sm-12 col-md-6 col-img">
                                        <a class="swiper-slide 5" data-hash="5"
                                            href="https://bizweb.dktcdn.net/100/437/253/products/sp-trang-6-6.jpg?v=1640074120267"
                                            title="Bấm vào để xem thư viện ảnh Giày Adidas Ultraboost DNA SEA CITY PACK THAILAND">
                                            <img width="100%" height="100%"
                                                src="//bizweb.dktcdn.net/thumb/large/100/437/253/products/sp-trang-6-6.jpg?v=1640074120267"
                                                alt="Giày Adidas Ultraboost DNA SEA CITY PACK THAILAND"
                                                data-image="https://bizweb.dktcdn.net/100/437/253/products/sp-trang-6-6.jpg?v=1640074120267"
                                                class="mx-auto d-block">
                                            <!-- class="img-responsive mx-auto d-block lazy loading" data-was-processed="true" -->
                                        </a>
                                    </div>

                                    <div class="col-12 col-sm-12 col-md-6 col-img">
                                        <a class="swiper-slide 6" data-hash="6"
                                            href="https://bizweb.dktcdn.net/100/437/253/products/sp-trang-6-7.jpg?v=1640074120727"
                                            title="Bấm vào để xem thư viện ảnh Giày Adidas Ultraboost DNA SEA CITY PACK THAILAND">
                                            <img width="100%" height="100%"
                                                src="//bizweb.dktcdn.net/thumb/large/100/437/253/products/sp-trang-6-7.jpg?v=1640074120727"
                                                alt="Giày Adidas Ultraboost DNA SEA CITY PACK THAILAND"
                                                data-image="https://bizweb.dktcdn.net/100/437/253/products/sp-trang-6-7.jpg?v=1640074120727"
                                                class="mx-auto d-block">
                                            <!-- class="img-responsive mx-auto d-block lazy loading" data-was-processed="true" -->
                                        </a>
                                    </div>

                                    <div class="col-12 col-sm-12 col-md-6 col-img">
                                        <a class="swiper-slide 7" data-hash="7"
                                            href="https://bizweb.dktcdn.net/100/437/253/products/sp-trang-6-8.jpg?v=1640074121157"
                                            title="Bấm vào để xem thư viện ảnh Giày Adidas Ultraboost DNA SEA CITY PACK THAILAND">
                                            <img width="100%" height="100%"
                                                src="//bizweb.dktcdn.net/thumb/large/100/437/253/products/sp-trang-6-8.jpg?v=1640074121157"
                                                alt="Giày Adidas Ultraboost DNA SEA CITY PACK THAILAND"
                                                data-image="https://bizweb.dktcdn.net/100/437/253/products/sp-trang-6-8.jpg?v=1640074121157"
                                                class="mx-auto d-block">
                                            <!-- class="img-responsive mx-auto d-block lazy loading" data-was-processed="true" -->
                                        </a>
                                    </div>

                                </div>

                            </div>
                        </div>
                        <!-- <div class="swiper-container">
                        <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px);">

                            <div class="swiper-slide swiper-slide-visible swiper-slide-active" data-hash="0"
                                data-image="https://bizweb.dktcdn.net/100/437/253/products/sp-trang-6-1.jpg?v=1640074117927"
                                style="height: 86px; margin-bottom: 10px;">
                                <img width="73" height="73"
                                    src="//bizweb.dktcdn.net/thumb/small/100/437/253/products/sp-trang-6-1.jpg?v=1640074117927"
                                    alt="Giày Adidas Ultraboost DNA SEA CITY PACK THAILAND"
                                    data-image="//bizweb.dktcdn.net/thumb/medium/100/437/253/products/sp-trang-6-1.jpg?v=1640074117927"
                                    class="lazy loading" data-was-processed="true">
                            </div>

                            <div class="swiper-slide swiper-slide-visible swiper-slide-next" data-hash="1"
                                data-image="https://bizweb.dktcdn.net/100/437/253/products/sp-trang-6-2.jpg?v=1640074118553"
                                style="height: 86px; margin-bottom: 10px;">
                                <img width="73" height="73"
                                    src="//bizweb.dktcdn.net/thumb/small/100/437/253/products/sp-trang-6-2.jpg?v=1640074118553"
                                    alt="Giày Adidas Ultraboost DNA SEA CITY PACK THAILAND"
                                    data-image="//bizweb.dktcdn.net/thumb/medium/100/437/253/products/sp-trang-6-2.jpg?v=1640074118553"
                                    class="lazy loading" data-was-processed="true">
                            </div>

                            <div class="swiper-slide swiper-slide-visible" data-hash="2"
                                data-image="https://bizweb.dktcdn.net/100/437/253/products/sp-trang-6-3.jpg?v=1640074119073"
                                style="height: 86px; margin-bottom: 10px;">
                                <img width="73" height="73"
                                    src="//bizweb.dktcdn.net/thumb/small/100/437/253/products/sp-trang-6-3.jpg?v=1640074119073"
                                    alt="Giày Adidas Ultraboost DNA SEA CITY PACK THAILAND"
                                    data-image="//bizweb.dktcdn.net/thumb/medium/100/437/253/products/sp-trang-6-3.jpg?v=1640074119073"
                                    class="lazy loading" data-was-processed="true">
                            </div>

                            <div class="swiper-slide swiper-slide-visible" data-hash="3"
                                data-image="https://bizweb.dktcdn.net/100/437/253/products/sp-trang-6-4.jpg?v=1640074119397"
                                style="height: 86px; margin-bottom: 10px;">
                                <img width="73" height="73"
                                    src="//bizweb.dktcdn.net/thumb/small/100/437/253/products/sp-trang-6-4.jpg?v=1640074119397"
                                    alt="Giày Adidas Ultraboost DNA SEA CITY PACK THAILAND"
                                    data-image="//bizweb.dktcdn.net/thumb/medium/100/437/253/products/sp-trang-6-4.jpg?v=1640074119397"
                                    class="lazy loading" data-was-processed="true">
                            </div>

                            <div class="swiper-slide swiper-slide-visible" data-hash="4"
                                data-image="https://bizweb.dktcdn.net/100/437/253/products/sp-trang-6-5.jpg?v=1640074119783"
                                style="height: 86px; margin-bottom: 10px;">
                                <img width="73" height="73"
                                    src="//bizweb.dktcdn.net/thumb/small/100/437/253/products/sp-trang-6-5.jpg?v=1640074119783"
                                    alt="Giày Adidas Ultraboost DNA SEA CITY PACK THAILAND"
                                    data-image="//bizweb.dktcdn.net/thumb/medium/100/437/253/products/sp-trang-6-5.jpg?v=1640074119783"
                                    class="lazy loading" data-was-processed="true">
                            </div>

                            <div class="swiper-slide swiper-slide-visible" data-hash="5"
                                data-image="https://bizweb.dktcdn.net/100/437/253/products/sp-trang-6-6.jpg?v=1640074120267"
                                style="height: 86px; margin-bottom: 10px;">
                                <img width="73" height="73"
                                    src="//bizweb.dktcdn.net/thumb/small/100/437/253/products/sp-trang-6-6.jpg?v=1640074120267"
                                    alt="Giày Adidas Ultraboost DNA SEA CITY PACK THAILAND"
                                    data-image="//bizweb.dktcdn.net/thumb/medium/100/437/253/products/sp-trang-6-6.jpg?v=1640074120267"
                                    class="lazy loading" data-was-processed="true">
                            </div>

                            <div class="swiper-slide" data-hash="6"
                                data-image="https://bizweb.dktcdn.net/100/437/253/products/sp-trang-6-7.jpg?v=1640074120727"
                                style="height: 86px; margin-bottom: 10px;">
                                <img width="73" height="73"
                                    src="//bizweb.dktcdn.net/thumb/small/100/437/253/products/sp-trang-6-7.jpg?v=1640074120727"
                                    alt="Giày Adidas Ultraboost DNA SEA CITY PACK THAILAND"
                                    data-image="//bizweb.dktcdn.net/thumb/medium/100/437/253/products/sp-trang-6-7.jpg?v=1640074120727"
                                    class="lazy">
                            </div>

                            <div class="swiper-slide" data-hash="7"
                                data-image="https://bizweb.dktcdn.net/100/437/253/products/sp-trang-6-8.jpg?v=1640074121157"
                                style="height: 86px; margin-bottom: 10px;">
                                <img width="73" height="73"
                                    src="//bizweb.dktcdn.net/thumb/small/100/437/253/products/sp-trang-6-8.jpg?v=1640074121157"
                                    alt="Giày Adidas Ultraboost DNA SEA CITY PACK THAILAND"
                                    data-image="//bizweb.dktcdn.net/thumb/medium/100/437/253/products/sp-trang-6-8.jpg?v=1640074121157"
                                    class="lazy">
                            </div>

                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev swiper-button-disabled"></div>
                    </div> -->

                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-5 details-pro">
                    <div class="wrapright-content">
                        <h1 class="title-head">Giày Adidas Ultraboost DNA SEA CITY PACK THAILAND</h1>
                        <span><i class="fa-thin fa-alicorn"></i></span>

                        <div class="product-top clearfix">
                            <span itemprop="brand" itemtype="http://schema.org/Brand" itemscope="">
                                <meta itemprop="name" content="Adidas">Thương hiệu: <strong>Adidas</strong>
                            </span>
                            <span class="variant-sku" content="Đang cập nhật">Mã: <strong>(Đang cập
                                    nhật...)</strong></span>
                            <!-- <div class="sku-product clearfix">
                            </div> -->
                        </div>
                        <div class="group-power">

                            <!-- <div class="inventory_quantity d-none">

                                <span class="a-stock a2">
                                    <link itemprop="availability" href="http://schema.org/InStock">Còn hàng
                                </span>

                            </div> -->
                            <div class="price-box clearfix">

                                <span class="special-price">
                                    <span class="price product-price">5.500.000₫</span>
                                </span> <!-- Giá Khuyến mại -->
                                <span class="old-price">
                                    <del class="price product-price-old">
                                        5.600.000₫
                                    </del>
                                </span> <!-- Giás gốc -->
                                <span class="save-price d-none">Giảm ngay:
                                    <span class="price product-price-save">100.000₫</span> so với giá thị trường
                                </span> <!-- Tiết kiệm -->

                            </div>
                        </div>
                        <form enctype="multipart/form-data" id="add-to-cart-form" data-cart-form="" action="/cart/add"
                            method="post" class="wishItem">
                            <div class="form-product">

                                <div class="select-swatch">

                                    <div class="swatch clearfix" data-option-index="0">
                                        <div class="options-title">Màu sắc: <span class="var">Vàng</span></div>

                                        <div data-value="Vàng" class="swatch-element gold available">
                                            <input id="swatch-0-gold" type="radio" name="option-0" value="Vàng"
                                                checked="">

                                            <label title="Vàng" for="swatch-0-gold">
                                                Vàng
                                            </label>

                                        </div>

                                        <!-- <script>
                                            jQuery('.swatch[data-option-index="0"] .Vàng').removeClass('soldout').addClass('available').find(':radio').removeAttr('disabled');
                                        </script> -->
                                        <div data-value="Xanh" class="swatch-element blue available">
                                            <input id="swatch-0-blue" type="radio" name="option-0" value="Xanh">

                                            <label title="Xanh" for="swatch-0-blue">
                                                Xanh
                                            </label>
                                        </div>

                                        <!-- <script>
                                            jQuery('.swatch[data-option-index="0"] .Xanh').removeClass('soldout').addClass('available').find(':radio').removeAttr('disabled');
                                        </script> -->
                                        <div data-value="Đen" class="swatch-element black available">
                                            <input id="swatch-0-black" type="radio" name="option-0" value="Đen">

                                            <label title="Đen" for="swatch-0-black">
                                                Đen
                                            </label>
                                        </div>
                                        <!-- <script>
                                            jQuery('.swatch[data-option-index="0"] .Đen').removeClass('soldout').addClass('available').find(':radio').removeAttr('disabled');
                                        </script> -->
                                    </div>
                                </div>

                                <div class="box-variant clearfix  d-none ">

                                    <div class="selector-wrapper" style="text-align: left; margin-bottom: 15px;">
                                        <label>Màu sắc</label><select class="single-option-selector"
                                            data-option="option1" id="product-selectors-option-0">
                                            <option value="Vàng">Vàng</option>
                                            <option value="Xanh">Xanh</option>
                                            <option value="Đen">Đen</option>
                                        </select>
                                    </div><select id="product-selectors" class="form-control form-control-lg"
                                        name="variantId" style="display:none">

                                        <option selected="selected" value="56785891">Vàng - 5.500.000₫</option>

                                        <option value="61213805">Xanh - 5.400.000₫</option>

                                        <option value="61213806">Đen - 5.500.000₫</option>

                                    </select>

                                </div>
                                <div class="clearfix from-action-addcart">
                                    <div class="qty-ant clearfix custom-btn-number">
                                        <label class="d-none">Số lượng:</label>
                                        <div class="custom custom-btn-numbers clearfix input_number_product">
                                            <button
                                                onclick="var result = document.getElementById('qty'); var qty = result.value; if( qty > 1 ) result.value--; false;"
                                                class="btn-minus btn-cts" type="button">–</button>
                                            <input aria-label="Số lượng" type="text" class="qty input-text" id="qty"
                                                name="quantity" size="4" value="1" maxlength="3"
                                                onkeypress="if ( isNaN(this.value + String.fromCharCode(event.keyCode) )) false;"
                                                onchange="if(this.value == 0)this.value=1;">
                                            <button
                                                onclick="var result = document.getElementById('qty'); var qty = result.value; if( !isNaN(qty)) result.value++; false;"
                                                class="btn-plus btn-cts" type="button">+</button>
                                        </div>
                                    </div>
                                    <div class="btn-mua">

                                        <button type="submit" data-role="addtocart"
                                            class="btn btn-lg btn-gray btn-cart btn_buy add_to_cart">Thêm vào giỏ
                                        </button>
                                        <button type="button" class="btn btn-lg btn-gray btn_buy btn-buy-now">Mua
                                            ngay</button>

                                    </div>
                                </div>
                                <div class="product-wish">

                                </div>
                            </div>
                        </form>

                        <div class="size-guide-box ">

                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="19" viewBox="0 0 18 19"
                                fill="none">
                                <path
                                    d="M17 6V15.14C17 16.7969 15.6569 18.14 14 18.14H4C2.34315 18.14 1 16.7969 1 15.14V13.855V11.7125M12.2305 1H4C2.34315 1 1 2.34314 1 4V5.285V7.4275"
                                    stroke="#292D32" stroke-width="1.5" stroke-linecap="round"></path>
                                <path
                                    d="M12.5595 1.09666L16.9033 5.44046C17.1098 5.64694 16.9636 6 16.6716 6H12.3278C12.1467 6 12 5.85325 12 5.67223V1.32843C12 1.03642 12.3531 0.890174 12.5595 1.09666Z"
                                    stroke="#292D32" stroke-width="1.5"></path>
                                <line x1="6.75" y1="13.25" x2="11.25" y2="13.25" stroke="#292D32" stroke-width="1.5"
                                    stroke-linecap="round"></line>
                                <line x1="5.75" y1="10.25" x2="12.25" y2="10.25" stroke="#292D32" stroke-width="1.5"
                                    stroke-linecap="round"></line>
                            </svg> Thông tin

                        </div>
                        <div class="product-summary">
                            <ul>
                                <li>Ôm sát, vừa vặn như đi tất</li>
                                <li>Có dây giày</li>
                                <li>Thân giày bằng vải dệt adidas Primeknit</li>
                                <li>Cảm giác đàn hồi</li>
                                <li>Lớp lót bằng vải dệt</li>
                                <li>Đế giữa Boost và kẹp gót giày bên ngoài bằng TPU</li>
                                <li>Trọng lượng: 310 g (size UK 8.5)</li>
                                <li>Chênh lệch độ cao đế giữa: 10 mm (gót giày 22 mm / mũi giày 12 mm)</li>
                                <li>Đế ngoài Stretchweb làm từ cao su Continental™ Rubber</li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="col-12 col-lg-12">
                    <div class="product-tab e-tabs not-dqtab">
                        <ul class="tabs tabs-title clearfix">

                            <li class="tab-link current" data-tab="tab-1">
                                <span>Thông tin chi tiết</span>
                            </li>
                            <li class="tab-link" data-tab="tab-2">
                                <span>Thương hiệu</span>
                            </li>

                        </ul>

                        <div class="tab-1 tab-content content_extab current">
                            <div class="rte product_getcontent">

                                <div class="ba-text-fpt">
                                    <p>Tôn vinh nét đẹp duyên dáng và truyền thống của nghề thủ công đan lát mà người
                                        dân Thái Lan ai ai cũng yêu mến. Thiết kế lồng ghép các họa tiết đan lát đen
                                        trắng cầu kỳ và tinh xảo xuyên suốt đế giữa và dây giày như một thông điệp tôn
                                        vinh kỹ nghệ truyền thống được thể hiện trong một thiết kế hiện đại tươi mới để
                                        truyền cảm hứng cho các thế hệ mai sau. Thân giày adidas Primeknit cho cảm giác
                                        ôm chân và nâng đỡ, cùng đế Boost giúp bạn luôn thoải mái khi du ngoạn khắp phố
                                        phường.</p>
                                </div>
                                <div class="show-more d-none">
                                    <div class="btn btn-default btn--view-more">
                                        <span class="more-text">Xem thêm <i class="fa fa-chevron-down"></i></span>
                                        <span class="less-text">Thu gọn <i class="fa fa-chevron-up"></i></span>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="tab-2 tab-content content_extab">
                            <div class="rte">

                                Nội dung tùy chỉnh viết ở đây

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>